.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.grid-block{
    flex: 1 1 auto;
}

.filled{
    background-color:black;
}